<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books in hands</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.css}"/>
</head>
<body>

<div>
    <ul class="nav nav-tabs">
        <li><a href="/users">All users</a></li>
        <li><a href="/books">All books</a></li>
        <li><a href="/showReg">Registration</a></li>
    </ul>
</div>

<h1>Books in hands:</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${allBooks}">
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthor()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>