<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.css}"/>
</head>
<body>

<h1 th:text="">History</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Issue date</th>
        <th>Return Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="history : ${bookHistory}">
        <td th:text="${history.getId()}">ID</td>
        <td th:text="${{history.getDateOfIssue()}}">Issue date</td>
        <td th:text="${{history.getDateOfReturn()}}">Return date</td>
    </tr>
    </tbody>
</table>

</body>
</html>