<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.css}"/>
</head>
<body>

<div>
    <ul class="nav nav-tabs">
        <li><a href="/users">All users</a></li>
        <li><a href="/books">All books</a></li>
        <li><a href="/showReg">Registration</a></li>
    </ul>
</div>

<h1>Registration</h1>

<form th:action="@{/processReg}" th:object="${UserForm}" method="post">
    <input th:field="*{name}">
    <input th:field="*{surname}">
    <input th:field="*{username}">
    <input th:field="*{password}">

    <!--<button type="submit" name="removeRow">Remove row</button>-->
</form>

</body>
</html>
