<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.css}"/>
</head>
<body>

<div>
    <ul class="nav nav-tabs">
        <li><a href="/users">All users</a></li>
        <li><a href="/books">All books</a></li>
        <li><a href="/showReg">Registration</a></li>
    </ul>
</div>

<h1>Users</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Books</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td><a href="user-books.html" th:href="@{|/user-books/${user.getId()}|}">Books</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
